<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='app.component.css'>
</head>
<style>
  .dropdown:hover .dropdown-menu {
    display: block;
  }
</style>

<body>
  <div class="bg-gray-100 h-[100vh] ">

    <nav class="bg-blue-500 p-4 md:p-2 sm:p-1">

      <div class="container mx-auto flex items-center justify-between py-4 px-5 sm:p-1 md:p-2">

        <h2 class="text-white lg:text-lg sm:text-sm md:text-sm font-semibold ">crickInfo</h2>
        <div></div>

        <div class="hidden sm:flex space-x-5 md:space-x-2">
          <a [routerLink]="'./home'"
            class="text-white lg:px-5  cursor-pointer hover:underline hover:text-red-500">Home</a>
          <a [routerLink]="'./news'" class="text-white lg:px-5 cursor-pointer  hover:underline ">News</a>
          <a [routerLink]="'./live'" class="text-white lg:px-5 cursor-pointer hover:underline">Live</a>
          <a [routerLink]="'./gallery'" class="text-white lg:px-5 cursor-pointer hover:underline">Gallery</a>
          <a [routerLink]="'./point-table'" class="text-white lg:px-5 cursor-pointer hover:underline">Point Table</a>
        </div>
        <div class="sm:hidden">
          <button (click)="toggleMenu()" class="block text-white hover:text-gray-300 focus:outline-none">
            <svg class="h-6 w-6" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
          </button>
        </div>
        
        <nav id="nav-menu" [ngClass]="{'hidden': !showMenu}" class="hidden sm:hidden bg-blue-500 text-white px-4 py-2">
          <a routerLink="./home" class="px-1 ">Home</a>
          <a routerLink="./news" class="px-2 ">News</a>
          <a routerLink="./live" class="px-2">Live</a>
          <a routerLink="./gallery" class=" block px-2">Gallery</a>
          <a routerLink="./point-table" class="block px-2">Point Table</a>
        </nav>
        
        <nav id="nav-menu" class="hidden sm:hidden bg-blue-500 text-white px-4 py-2">
          <a href="./home" class="block py-2">Home</a>
          <a href="./news" class="block py-2">News</a>
          <a href="./live" class="block py-2">Live</a>
          <a href="./gallery" class="block py-2">Gallery</a>
          <a href="./point-table" class="block py-2">Point Table</a>
        </nav>
      </div>
    </nav>
  </div>


  <div class="container mx-auto px-4">
    <router-outlet>

    </router-outlet>
  </div>

  <footer class="bg-gray-800 text-white py-7 px-4 flex flex-wrap justify-between">
    <div class="sm:text-left">
      © 2024 CrickInfo. All rights reserved.
    </div>
    <nav class="space-x-5 sm:flex-row flex-col">
      <a href="/test" class="text-gray-300 hover:text-white">Test Championship</a>
      <a href="/ranking-t20" class="text-gray-300 hover:text-white">T20 Ranking</a>
      <a href="/ranking-odi" class="text-gray-300 hover:text-white">ODI Ranking</a>
      <a href="/ranking-test" class="text-gray-300 hover:text-white">Test Raning</a>
    </nav>
  </footer>
</body>

</html>