<section class="container mx-auto py-6">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white rounded-lg overflow-hidden shadow-md">
            <img src="https://source.unsplash.com/600x400/?cricket" alt="Cricket" class="w-full h-48 object-cover">
            <div class="p-6">
                <h3 class="font-semibold text-xl mb-2">Live Score Of Matches</h3>
                <p class="text-gray-700">Catch the live score of matches.</p>
            </div>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-md">
            <img src="https://source.unsplash.com/600x401/?cricket" alt="Cricket" class="w-full h-48 object-cover">
            <div class="p-6">
                <h3 class="font-semibold text-xl mb-2">Player Rankings</h3>
                <p class="text-gray-700">Discover who's at the top of the charts this season.</p>
            </div>
        </div>

        <div class="bg-white rounded-lg overflow-hidden shadow-md">
            <img src="https://source.unsplash.com/600x402/?cricket" alt="Cricket" class="w-full h-48 object-cover">
            <div class="p-6">
                <h3 class="font-semibold text-xl mb-2">Latest News</h3>
                <p class="text-gray-700">Stay updated with the latest cricket news from around the globe.</p>
            </div>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-md">
            <img src="https://source.unsplash.com/600x402/?cricket" alt="Cricket" class="w-full h-48 object-cover">
            <div class="p-6">
                <h3 class="font-semibold text-xl mb-2">Point Table</h3>
                <p class="text-gray-700">See the point table of IPL 2024.</p>
            </div>
        </div>
    </div>

</section>